@model ExerciseDetailsViewModel
@inject LanguageService language

@{
    ViewBag.Title = language.Getkey("exercise");
    var firstWordId = Model.WordsList.FirstOrDefault().Id;
}


<div class="card-group">
    @foreach (var word in Model.WordsList)
    {
        var photoPath = "~/Images/" + (word.PhotoPath ?? "noimage.png");
        var audioPath = "/audio/" + word.PronunciationPath;

        <div class="col-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>@word.PersianWord</h3>
                </div>
                <img class="card-img-top mx-auto" src="@photoPath" asp-append-version="true" style="display:block" />
            </div>
        </div>
        }
</div>
<a asp-controller="exercise" asp-action="learnlisten" asp-route-id="@Model.ExerciseId" asp-route-wordId="@firstWordId" class="btn btn-content"><i class="fa-solid fa-graduation-cap"></i></a>
<a asp-controller="home" asp-action="index" class="btn btn-content">@language.Getkey("back")</a>

