@model LearnListenViewModel
@inject LanguageService language
@inject IWordRepository _wordRepository

@{
    ViewBag.Title = language.Getkey("learn");
    var photoPath = $"~/images/{_wordRepository.GetWord(Model.CurrentWordId).PhotoPath}" ?? "noimage.png";
    var audioPath = $"/audio/{_wordRepository.GetWord(Model.CurrentWordId).PronunciationPath}";

}

<div class="learn-listen-body">
    <div class="learn-listen-form">
        <form enctype="multipart/form-data" method="post">
            <div class="row justify-content-center m-3">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1>@_wordRepository.GetWord(Model.CurrentWordId).Translation</h1>
                        </div>

                        <div class="card-body text-center">
                            <img class="card-body text-center" id="photo" src="@photoPath" asp-append-version="true" />
                            @if (audioPath != null)
                            {
                                <audio id="audioPlayer" src="@audioPath" type="audio/wav" autoplay></audio> 
                             }
                            else
                            {
                                <img class="card-body text-center" width="100" height="100" src="~/Audio/noaudio.png" asp-append-version="true" />
                            }
                        </div>

                        <div class="card-header text-center">
                            <h1>@_wordRepository.GetWord(Model.CurrentWordId).PersianWord</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="learn-listen-holder">
                <input hidden asp-for="CurrentWordId" />
                <input hidden asp-for="CurrentExerciseId" />
                <button type="submit" class="btn btn-content">@language.Getkey("Next")</button>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("audioPlayer").play();
        }
    </script>
}


