@model EditRoleViewModel
@inject LanguageService language

@{ ViewBag.Title = language.Getkey("editRole"); }

<div id="edit-role-form" class="edit-role-body">
    <div class="edit-role-holder">
        <div class="text-center">
            <h1>@ViewBag.Title</h1>
        </div>

        <form method="post" class="mt-3">
            <div class="form-group row">
                <label asp-for="Id" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Id" disabled class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="RoleName" class="col-sm-3 col-form-label">@language.Getkey("roleName")</label>
                <div class="col-sm-9">
                    <input asp-for="RoleName" class="form-control">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <div class="edit-role-btn-holder">
                    <button type="submit" class="btn btn-primary" style="width:auto">@language.Getkey("update")</button>
                    <a asp-action="RolesList" class="btn btn-primary">@language.Getkey("cancel")</a>
                </div>
            </div>

            <div class="card edit-role-card">
                <div class="card-header">
                    <h3>@language.Getkey("usersInThisRole")</h3>
                </div>
                <div class="card-body">
                    @if (Model.Users.Any())
                    {
                        foreach (var user in Model.Users)
                        {
                            <h5 class="card-title">@user</h5> 
                        }
                     }
                     else
                     {
                     <h5 class="card-title">@language.Getkey("noneRightNow")</h5>
                     }
                </div>
                <div class="card-footer">
                    <a asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id" class="btn btn-primary" style="width:auto">@language.Getkey("addRemoveUsersFromRole")</a>
                </div>
            </div>
        </form>
    </div>
</div>
