@model IEnumerable<IdentityRole>
@inject LanguageService language

@{
    ViewBag.Title = @language.Getkey("roles");
}

<div id="roles-card" class="roles-card-body">
    <div class="roles-card-holder">
        <div class="text-center">
            <h1>@ViewBag.Title</h1>
        </div>

        <div>
            @if (Model.Any())
            {
            <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
               asp-controller="administration">@language.Getkey("addNewRole")</a> foreach (var role in Model)
            {
            <div class="card mb-3">
                <div class="card-header">
                    @language.Getkey("roleId") : @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteRole" asp-route-roleId="@role.Id" method="post">
                        <a class="btn btn-primary" asp-controller="Administration"
                           asp-action="EditRole" asp-route-id="@role.Id">@language.Getkey("edit")</a>
                        <button onclick="return confirm('Are you sure you want to delete role: @role.Name')" type="submit" asp-action="DeleteRole" asp-route-roleId="@role.Id" class="btn btn-danger">@language.Getkey("delete")</button>
                    </form>
                </div>
            </div> }
            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        @language.Getkey("thereAreNoRolesToDisplay")
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Use the button below to create a role
                        </h5>
                        <a class="btn btn-primary" style="width:auto"
                           asp-controller="administration" asp-action="CreateRole">
                            @@role.Id">@language.Getkey("createRole")
                        </a>
                    </div>
                </div>
                }
        </div>
    </div>
</div>