@model HomeDetailsViewModel
@inject LanguageService language

@{
    ViewBag.Title = language.Getkey("wordDetails");
    var photoPath = "~/images/" + (Model.Word.PhotoPath ?? "noimage.png");
    var audioPath = "/audio/" + Model.Word.PronunciationPath;
}


<h3>@Model.PageTitle</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Word.PersianWord</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-body text-center" id="photo" src="@photoPath" asp-append-version="true" />
                <h4>ID: @Model.Word.Id</h4>
                <h4>@language.Getkey("translation") : @Model.Word.Translation</h4>
                <h4>@language.Getkey("difficulty"): @language.Getkey(Enum.GetName(typeof(Difficulty), Model.Word.Difficulty).ToString().ToLower())</h4>
                @if (Model.Word.PronunciationPath != null)
                {
                    <audio id="audioPlayer" src="@audioPath" type="audio/wav" autoplay controls></audio>
                }

                else
                {
                    <img class="card-body text-center" width="100" height ="100" src="~/Audio/noaudio.png" asp-append-version="true" />
                }
            </div>

            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Word.Id" class="btn btn-primary">@language.Getkey("edit")</a>
                <a href="#" class="btn btn-danger">@language.Getkey("delete")</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("audioPlayer").play();
        }
    </script>
}

