@model HomeDetailsViewModel
@inject LanguageService language

@{ ViewBag.Title = language.Getkey("wordDetails"); }


<h3>@Model.PageTitle</h3>

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Word.PersianWord</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-body text-center" src="~/images/house-pic.jpg" />
                <h4>ID: @Model.Word.Id</h4>
                <h4>@language.Getkey("translation") : @Model.Word.Translation</h4>
                <h4>@language.Getkey("difficulty"): @Model.Word.Difficulty.GetDescription()</h4>
            </div>

            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">@language.Getkey("edit")</a>
                <a href="#" class="btn btn-danger">@language.Getkey("delete")</a>
            </div>
        </div>
    </div>
</div>

