@model IEnumerable<PersianMemo.Models.Word>
@inject SignInManager<IdentityUser> signInManager
@inject LanguageService language

@{
    ViewData["Title"] = language.Getkey("homePage");
}

<input type="hidden" id="lang" value="@language.Getkey("lang")">
@if (signInManager.IsSignedIn(User))
{
        <div id="words-list" class="words-list">
            <div class="words-list-tblcontainer">
                <div class="tbl-container">
                    <div class="tbl-header-flex">
                        <div class="item1">
                            <h1 class="h2-text">@language.Getkey("wordsList")</h1>
                        </div>
                        <div class="item2">
                            <button id="button" class="dt-button" tabindex="0" aria-controls="tblWords">@language.Getkey("goToExercise")</button>
                        </div>
                    </div>
                    <div>
                        <div class="p-4 border rounded">
                            <table id="tblWords" class="table table-striped table-bordered" style="width:100%">
                                <thead class="thead-dark">
                                    <tr class="table-info">
                                        <th>@language.Getkey("word")</th>
                                        <th>@language.Getkey("translation")</th>
                                        <th>@language.Getkey("difficulty")</th>
                                        <th>@language.Getkey("pronunciation")</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
} else
{
    <header class="main">
        <div class="content">
            <h1>@language.Getkey("content11") <span class="sand-colour">@language.Getkey("content12")</span> @language.Getkey("content13") <span class="sand-colour">@language.Getkey("content14")</span> </h1>
            <p>
                فارسی را با ما در کمترین زمان یاد بگیرید
            </p>
            <p class="sand-colour">@language.Getkey("content2")</p>
            <div class="btn-content-container">
                <a asp-controller="account" asp-action="register" class="btn btn-content">@language.Getkey("register")</a>
                <a asp-controller="account" asp-action="login" class="btn btn-content">@language.Getkey("login")</a>
            </div>
        </div>
    </header>
}


@section Scripts{
    <script>
        var dataTable;

        function playAudio(url) {
            new Audio(url).play();
        }

        $(document).ready(function () {
            var language = document.querySelector('#lang').value;
            var details,
                previous,
                next,
                search;
            if (language === "PL") {
                details = "Szczegóły";
                previous = "Poprzednia";
                next = "Następna";
                search = `"Szukaj:"`
            } else {
                details = "Details";
                previous = "Previous";
                next = "Next";
                search = "Search"

            }
            loadDataTable(language, details, previous, next, search);
        });


        function loadDataTable(language, details, previous, next, search) {
            dataTable = $('#tblWords').DataTable({
                dom: 'Bfrtip',
                "ajax": {
                    "url": "/Home/GetAll"
                },
                "columns": [
                    { "data": "persianWord", "autoWidth": "true" },
                    { "data": "translation", "autoWidth": "true" },
                    { "data": "difficulty", "autoWidth": "true" },
                    {
                        "data": "pronunciationPath",
                        "render": function (data) {
                            if (data != null) {
                                return `
                        <a onclick="playAudio('/audio/${data}')"><i class="fa-solid fa-play"></i></a>
                        `
                            } else {
                                return `
                        <a><i class="fa-solid fa-volume-slash"></i></a>
                        `
                            }
                        }, "autoWidth": "true"
                    },
                    {
                        "data": "status",
                        "render": function (data) {


                            if (data == 1) {
                                return `
                        <a>@language.Getkey("notStarted")</a>
                        `
                            } else if (data == 2) {
                                return `
                        <a>@language.Getkey("inProgress")</a>
                        `
                            } else {
                                return `
                        <a>@language.Getkey("completed")</a>
                        `
                            }
                        }, "autoWidth": "true"
                    },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `
                                <a href="home/details/${data}" class="btn btn-content m-1">${details}</a>
                                <a onclick="return confirm('Are you sure you want to delete word with id: ${data}')" href="home/delete/${data}" class="btn btn-content m-1"><i class="fa-solid fa-trash"></i></a>
                            `
                        }
                    }
                ]
            });


            var nextPage = document.querySelector('.paginate_button.next');
            console.log(nextPage);
            var previousPage = document.querySelector('.paginate_button.previous');
            console.log(previousPage);
            if (language === "PL") {
                $('label').closest("#tblWords_filter").val(search);
                nextPage.innerHTML = next;
                previousPage.innerHTML  = previous;
            }

            $('#tblWords tbody').on('dblclick', 'tr', function () {
                $(this).toggleClass('selected');
            });

            $('#button').click(function () {
                var selectedData = dataTable.rows('.selected').data();
                var selectedIds = []

                for (var i = 0; i < selectedData.length; i++) {
                    selectedIds.push(selectedData[i].id);
                }

                console.log(selectedIds);

                $.ajax({
                    type: "POST",
                    url: "/Home/Index",
                    data: { ids: selectedIds },
                    dataType: "json",
                    traditional: "true",
                    success: function (res) {
                        window.location.href = `/Exercise/Details/${res.data}`;
                        console.log(data);
                    },
                })
            });
        }
    </script>
}
