@model IEnumerable<PersianMemo.Models.Word>
@inject LanguageService language

@{
    ViewData["Title"] = language.Getkey("homePage");
}


<div class="card-group">
    @foreach (var word in Model)
    {
        var photoPath = "~/Images/" + (word.PhotoPath ?? "noimage.png");
        <div class="card">
            <div class="card-header text-center">
                <h3>@word.PersianWord</h3>
            </div>
            <a asp-controller="home" asp-action="details" asp-route-id="@word.Id">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />
            </a>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@word.Id" class="btn btn-primary m-1">@language.Getkey("details")</a>
                <a href="#" class="btn btn-primary m-1">@language.Getkey("edit")</a>
                <a href="#" class="btn btn-danger m-1">@language.Getkey("delete")</a>
            </div>
        </div>
    }
</div>

